<li id="post-<%=post.id%>">
    <p>
        <% if(locals.user && locals.user.id == post.user.id){%>
            <small>
                <a class="delet-post-button" href="/posts/destroy/<%=post.id%>">X</a>
            </small>
        <% } %>
            <%= post.content %>
            <br>
            <small>
                <%= post.user.name %>
            </small>
    </p>
    <div class="post-comments">
        <%if(locals.user){%>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type hear to add comment ..." required>
                <input type="hidden" name="post" value="<%=post._id%>">
                <input type="submit" value="Add">
            </form>
        <% } %> 
        <div class="post-comment-list">
            <ul>
                <% for(comment of post.comments) { %>

                   <%-include('_comment');%>
                    
                <% } %>    
            </ul>
        </div>   
    </div>
</li>