<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style%>
    </head>
    <body id="layout-main">
        
        <%- include('_header');%>
    
         

        <%- body %>


        <%- include('_footer');%>

    </body>

    <%- script %>

    <script>

        // <% if(flash.success && flash.success.lengh >0) {%>

        //     new Noty({
        //         theam:'relax',
        //         text:'<%=locals.flash.success%>',
        //         type:'success',
        //         layout:'top right',
        //         timeout:1500
        //     }).show();
        // <%}%>
        // <% if(flash.error && flash.error.lengh >0){%>

        //     new Noty({
        //         theam:'relax',
        //         text:'<%=locals.flash.error%>',
        //         type:'error',
        //         layout:'top right',
        //         timeout:1500
        //     }).show();
        // <%}%>
    </script>

</html>