 <link rel="stylesheet" href="/css/user_profile.css">
 <h1>
    Profile Page | <%=title%>
</h1>




    <%if(user.id == profile_users.id){%>
            <form action="/users/update/<%=profile_users.id%>" method="post">
                <input type="text" name="name" value="<%=user.name%>" placeholder="Your name" required>
                <input type="email" name="email" value="<%=user.email%>">
                <input type="submit" value="Update">
            </form>
            <%}else{%> 

            <p><%=profile_users.name%></p>
            <p><%=profile_users.email%></p>

        
    <%}%>   